// color
$input-background-color: #d6d3d1b1;
$gradient-colors: linear-gradient(222deg, #2379ff 0, #1efbe9 54%, #a2ff7c 97%);
$input-border-color: #1118278d;

$button-size: 3rem;
$icon-size: 2.5rem;
$hover-opacity: 0.8;
