@use "@styles/abstracts/mixins" as mixin; // 引入混合宏定义文件

.historyPanel {
  background-color: #f4f4f4;
  padding: 1rem;
  border-right: 1px solid #ddd;

  grid-area: history;

  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
}
