@use "./NormalLayout.module.scss" as normalStyles;

.chatContentLayout {
  @include normalStyles.contentLayoutMixin;

  // 添加或覆盖样式
  display: flex;
  flex-direction: row;
  gap: 16px; // 设置子元素之间的间距
}
